<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VDash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VDash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VDash.Properties.Settings>
            <setting name="KeyForward" serializeAs="String">
                <value>w</value>
            </setting>
            <setting name="KeyBackward" serializeAs="String">
                <value>s</value>
            </setting>
            <setting name="KeyLeft" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="KeyRight" serializeAs="String">
                <value>d</value>
            </setting>
        </VDash.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VDash.Properties.Settings>
            <setting name="LISTEN_PORT" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="CONNECTION_PORT" serializeAs="String">
                <value>9000</value>
            </setting>
        </VDash.Properties.Settings>
    </applicationSettings>
</configuration>